node_modules
.env
*/__pycache__/*
data-*.json
storybook*

# Storybook configuration
/frontend/.storybook/

# Storybook stories and related assets
/frontend/src/stories/

*.db

*/dist/*


*/data/*

*DS_Store


.aws-sam/*
