/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Jersey+20+Charted&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Disable vertical scroll globally */
}

/* Allow vertical scrolling on mobile */
@media (max-width: 768px) {
  html,
  body {
    overflow-y: auto;
  }
}

/* Class to disable scroll */
body.no-scroll {
  overflow-y: hidden;
}

/* Animation styles */
@keyframes fly-to-corner {
  from {
    transform: translate(0, 0) scale(1);
    right: 50%;
    bottom: 50%;
  }
  to {
    transform: translate(0, 0) scale(0.375);
    right: 1rem;
    bottom: 1rem;
  }
}

.animate-fly-to-corner {
  animation: fly-to-corner 1s forwards;
}

/* Video overlay */
.video-on-top {
  z-index: 100;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 20rem;
  height: 20rem;
}

/* Button styles */
.active-button-style {
  @apply bg-[#ff79c6] text-[#2a2a2a] px-6 py-3 rounded-full shadow-md 
         hover:bg-[#ff92d1] hover:shadow-lg active:bg-[#ff61b6] 
         active:shadow-none focus:outline-none focus:ring-4 
         focus:ring-[#ffc3e1] transition-all duration-200 ease-in-out 
         w-32 border-2 border-[#ff61b6] cursor-pointer;
}

.inactive-button-style {
  @apply bg-pink-400 text-white px-6 py-3 rounded-full shadow-md 
         opacity-70 w-32 border-2 border-gray-300 cursor-pointer
         hover:bg-pink-500 hover:shadow-lg focus:outline-none
         focus:ring-4 focus:ring-pink-200 transition-all duration-200 ease-in-out;
}

/* Background styles */
.bg-warm-gradient {
  @apply bg-gradient-to-br from-pink-200 via-purple-100 to-blue-100;
}

.bg-cold-gradient {
  @apply bg-gradient-to-br from-blue-100 via-teal-200 to-indigo-300;
}

.bg-neutral-gradient {
  @apply bg-gradient-to-br from-gray-100 via-beige-200 to-pastel-300;
}

.bg-no-mood {
  @apply bg-gradient-to-br from-gray-50 via-gray-100 to-gray-200;
}

/* Custom Media Query for 1024x600 */
@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px) {
  .custom-style-1024x600 {
    max-height: 90vh; /* Adjust max height to fit content */
    overflow-y: auto; /* Enable scrolling if needed */
  }

  .custom-image-1024x600 {
    max-width: 70%; /* Scale down image */
    max-height: 300px; /* Limit height of the image */
    margin-top: 0; /* Adjust top margin */
  }

  .text-custom-1024x600 {
    font-size: 1rem; /* Adjust text size */
    margin-bottom: 4px; /* Adjust margin for better spacing */
  }
}

.custom-scrollable {
  overflow-y: auto; /* Allow vertical scrolling */
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.animate-shake {
  animation: shake 0.5s;
}
