/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Jersey+20+Charted&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.test {
  @apply font-jersey text-2xl text-red-400;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* styles/globals.css */
@keyframes fly-to-corner {
  from {
    transform: translate(0, 0) scale(1);
    right: 50%;
    bottom: 50%;
  }
  to {
    transform: translate(0, 0) scale(0.375); /* Adjust scale to match the video size */
    right: 1rem; /* Positioning for the bottom right corner */
    bottom: 1rem;
  }
}

.animate-fly-to-corner {
  animation: fly-to-corner 1s forwards; /* Runs animation forwards */
}
