@import url("https://fonts.googleapis.com/css2?family=Jersey+20+Charted&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.test {
  @apply font-jersey text-2xl text-red-400;
}

/* Animation styles */
@keyframes fly-to-corner {
  from {
    transform: translate(0, 0) scale(1);
    right: 50%;
    bottom: 50%;
  }
  to {
    transform: translate(0, 0) scale(0.375);
    right: 1rem;
    bottom: 1rem;
  }
}

.animate-fly-to-corner {
  animation: fly-to-corner 1s forwards;
}

.video-on-top {
  z-index: 50;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 20rem;
  height: 20rem;
}

/* Adjusted styles for html and body */
html,
body {
  height: 100%; /* Ensures the full height of the viewport */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling by default */
}
